# Python-specific stuff
__pycache__
*.py[cod]
*$py.class
.pytest_cache/

# system files
.DS_Store

# PID files
.*.pid

# Logs
logs/
*.out
errors.txt

# Config stuff
configs/
uwsgiconfigs/
.uwsgi_plugins_builder/
config.ini
/*.ini
!uwsgi_cache.ini
!uwsgi_shared.ini
*.pid
/*.sh

# User created code
userdispatch.py
*.so

# Ignore virtual environment folder
venv/

.idea/
.vscode/
